<!DOCTYPE html>
<html>
<head>
    <title>SnapQuest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.svg">

    <link href='https://api.mapbox.com/mapbox-gl-js/v3.9.3/mapbox-gl.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.9.3/mapbox-gl.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js" defer></script>
    <script src="js/script.js" defer></script>
</head>
<body data-logged-in="<%= isLoggedIn %>">
    <main class="relative w-screen h-screen">
        <div id="map" class="absolute inset-0"></div>

        <div id="nearme" class="absolute top-5 right-5 w-64 bg-gruy bg-opacity-90 rounded-lg shadow-md transform p-4 z-10 hidden transition-transform duration-300">
            <h2 class="m-0 mb-2 text-lg text-center text-white">Prompts Near Me</h2>
            <ol id="nearme-list" class="list-none m-0 p-0 max-h-52 overflow-y-auto"></ol>
          </div>

        <div id="menu" class="p-4 absolute top-0 left-0 z-10 h-screen w-1/2 transform -translate-x-full transition-transform duration-300">
            <img src="assets/logo.png" alt="SnapQuest Logo" class="h-12 mx-auto sm:h-16" draggable="false">

            <p id="prompt" class="mt-6 sm:h-16 mr-0 mx-auto text-3xl text-right"><br><span class="text-2xl"></span></p>
            <div id="photoContainer" class="text-3xl mt-4 flex flex-wrap justify-center gap-6 p-4 h-2/3 overflow-y-auto"></div>
            
            <div class="mt-4 text-center">
                <input class="hidden" id="imgInput" type="file" accept="image/*" multiple>
            </div>

            <% if (isLoggedIn) { %>
                <a href="/logout">
                    <button class="absolute bottom-4 left-4 bg-blue-500 text-white px-4 py-2 rounded">Log Out</button>
                </a>            
            <% } else { %>
                <a href="/login">
                    <button class="absolute bottom-4 left-4 bg-blue-500 text-white px-4 py-2 rounded">Log In</button>
                </a>
            <% } %>
        </div>
        <div id="blur" class="hidden">
            <input class="hidden" id="imgInput" type="file" accept="image/*">
        </div>
    </main>
</body>
</html>
