@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    margin: 0;
    background-color: #272626;
    color: white;
}

img {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#menu {
    background-color: #272626;
    color: white;
    font-family: "Patrick Hand", system-ui, -apple-system, sans-serif;
}

#blur {
    position: fixed;
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    z-index: 5;
    -webkit-backdrop-filter: blur(3.75px) brightness(0.4);
    backdrop-filter: blur(3.75px) brightness(0.4);
}

#photoContainer {
    background-color: #AE9674;
}

.mapboxgl-popup-content {
    color: black;
}